{
  "physical_interfaces_list": {{interfaces_payload.physical_interfaces_list}},
  "logical_interfaces_list": {{interfaces_payload.logical_interfaces_list}},
  "dataplane_ip": "{{interfaces_payload.dataplane_ip}}"
}

